@media only screen and (min-width: 768px) {
    .headings h1 {
        font-size: 2rem;
    }
    .motto {
        font-size: 0.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .logo {
        width: 100px;
    }
    .forecast {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .forecastTitle,
    .map {
        display: block;
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .herodiv {
        height: 60vh;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        width: 100%;
    }
    .col1 {
        flex: 1;
        padding: 20px;
    }
    .col2 {
        flex: 1;
        padding: 20px;
    }
    .card:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .summary {
        position: absolute;
        bottom: 20%;
        right: 8%;    
        width: 30%;  
       
    }
    .footer {
        padding: 0px;
      font-size: 1.2rem;
    }
    .summary p{
        font-size: 1.2vw;
    }
    .summary-products {
        position: absolute;
        bottom: 20%;
        right: 8%;    
        width: 30%;  
       
    }
    .summary-products p{
        font-size: 1.2vw;
    }
    .summary-products li{    

        font-size: 1.5vw;
    }
    .titles {
        font-size: 2.5vw;
        font-weight: bold;
        color:  rgba(35,46,88,1);    
        
    }
    
}